doctype html
head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  
  title Informaship
  style.
    body {
    background-color:#1ba7cb;
    }
    img {
    display: block;
    margin: auto;
    }
    .aa{
    position:relative;
    top:80px;
    }
    .bb{
    position:relative;
    top:110px;
    }
    .cc{
    position:relative;
    top:130px;
    }
  
header
  .aa
    img(src='/img/informaship.gif', width='290px')
  .bb
    img(src='/img/informaship_cis-12.png', width='180px')
  .cc
    img(src='/img/informaship_cis-13.png', width='310px')

